@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- TAMBAHKAN KODE INI KE BAWAH --- */
@keyframes masukDariBawah {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animasi-masuk {
  animation: masukDariBawah 1.2s ease-out forwards;
}